version: "3"

services: 
    redis:
        image: redis:6.0.0
        ports: 
            - 6379:6379
    postgres:
        image: postgres:12
        ports: 
            - 5432:5432
        environment: 
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
    
    web_back:
        build: ./web_back/
        volumes:
          - ./web_back:/web_back
        ports:
          - "8000:8000"
        depends_on:
          - postgres
          - redis
        command: bash ./run.sh